<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		
		<!-- Materialize CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

		<!-- CSS -->
		<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />

	</head>

	<body>
		<img src="/assets/img/mmmBurger.jpg" width="400px" height="400px" id="cute_burger">		

		{{{ body }}}

	</body>
	
	<footer class="burgerFooter">
		<div class="footer-copyright">
			<div class="container">
				<span class="grey-text">© 2019 UnicornBear</span>
				<a class="grey-text right" href="https://github.com/UnicornBear">Reference Work</a>
			</div>
		</div>
	</footer>

</HTML>
