<!DOCTYPE html>
<html lang="en">

<head>
	
    <meta charset="UTF-8">

	<link href="https://fonts.googleapis.com/css?family=Crafty+Girls|Fontdiner+Swanky" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

	<script src="https://use.fontawesome.com/b38c8ed4c7.js"></script>

	<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
	<title>Digital Yumm Burger Menu</title>

</head>

<body>
	<img src="/assets/img/mmmBurger.jpg" width="400px" id="cute_burger">

	{{{ body }}}

	<footer class="burgerFooter">
		<div class="footer-copyright">
			<div class="container">
				<span class="grey-text">© 2019 UnicornBear</span>
				<a class="grey-text right" href="https://github.com/UnicornBear">GitHub Repository</a>
			</div>
		</div>
	</footer>
</body>

</html>