<h1> Devour the Sequelized Digital Burger</h1>

<main>
  <div class="container">
    <div class="row">

      <div class="col s6">
        {{#each burgers}}
          {{#unless this.devoured}}
            <div class="row">
              <div class="burgerName">
                  <div class='burgerAvailable'>{{this.burger_name}}</div>
              </div>

              <div class="customerEats">
                <form action="/burgers/{{this.id}}?_method=PUT" method="POST">
                  <input type="text" id="customerName" name="customerName" placeholder="Your Name">
                  <button type="submit" class="eatBurgerButton fa fa-cutlery fa-2x" aria-hidden="true"></button>
                </form>
              </div>
            </div>
          {{/unless}}
        {{/each}}
      </div> 
      
      
      <div class="col s6">
        {{#each burgers}}
          {{#if this.devoured}}
            <div class='burgerEaten'>
              <div>
                {{this.burger_name}} (eaten by {{this.Customer.name}})
              </div>
            </div>
          {{/if}}
        {{/each}}
      </div>
    </div>
  </div> 
</main>

<h2>Add a Yummy Burger to Devour</h2>

<div class="row">
  <div class="col s12">
    <form action="/burgers" method="POST">
      <input type="text" id="name" name="burger_name" placeholder="Burger Name">
      <button type="submit" class="addBurgerButton">Add Your Desired Burger</button>
    </form>
  </div>
</div>