<h1>Devour Your Burger!</h1>

<main>
  <div class="container">
    <div class="row">
      <div class="col s6">
        {{#each burgers}}
          {{#unless this.devoured}}
            <div class="row">
              <div class="burgerName">
                  <div class='burgerAvailable'>{{this.name}}</div>
              </div>
              <div class="customerEats">
                <form action="/burgers/{{this.id}}?_method=PUT" method="POST">
                  <input type="text" id="customerName" name="customerName" placeholder="Your Name">
                  <button type="submit" class="burgerAvailable"></button>
                </form>
              </div>
            </div>
          {{/unless}}
        {{/each}}
      </div>

      <div class="col s6">
        {{#each burgers}}
          {{#if this.devoured}}
            <div class='burgerEaten'>
              <div>
                {{this.name}} (eaten by {{this.Customer.name}})
              </div>
            </div>
          {{/if}}
        {{/each}}
      </div>
    </div>
  </div>
</main>

<h2>Add A Burger Option</h2>

<div class="row">
  <div class="col s12">
    <form action="/burgers" method="POST">
      <input type="text" id="name" name="burger_name" placeholder="Enter Your Desired Burger">
      <button type="submit" class="addBurgerButton">Add The Burger</button>
    </form>
  </div>
</div>